html {
  background: rgb(36, 34, 34);
  max-width: 1024px; 
  margin: 0 auto; 
}
.App {
  text-align: center;
  margin: 0 auto;
  margin-top: 14rem;
  color: white;
  
}

h1 {
  font-size: 2.4rem;
  font-weight: 400;
}

div {
  margin-top: 6rem;
  font-size: 2.4rem;
}

span {
  font-size: 6rem;
  margin: 0 1.5rem;
}

button {
  margin-top: 6rem;
  padding: 1.5rem 4rem;
  color: white;
  font-size: 2.4rem;
  background: blueviolet;
  border: none;
  border-radius: 10px; 
}